<h1>Shop\Order list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Createdat</th>
            <th>Modifiedat</th>
            <th>Checkoutat</th>
            <th>Shippingbaseprice</th>
            <th>Totalproductsbaseprice</th>
            <th>Totalbaseprice</th>
            <th>Tax</th>
            <th>Taxprice</th>
            <th>Totalprice</th>
            <th>Shippingmethod</th>
            <th>Orderstate</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('crud_order_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.modifiedAt %}{{ entity.modifiedAt|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.checkoutAt %}{{ entity.checkoutAt|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.shippingBasePrice }}</td>
            <td>{{ entity.totalProductsBasePrice }}</td>
            <td>{{ entity.totalBasePrice }}</td>
            <td>{{ entity.tax }}</td>
            <td>{{ entity.taxPrice }}</td>
            <td>{{ entity.totalPrice }}</td>
            <td>{{ entity.shippingMethod }}</td>
            <td>{{ entity.orderState }}</td>
            <td>{{ entity.status }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('crud_order_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('crud_order_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('crud_order_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
