{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Productos |{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/tecnokey/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block right_content %}

<!--start right-->
    <div class="right">
    	<!--start menu user-->
		<div class="menu_user_container">
         	<div class="perfil_btn"><a href="#">Perfil</a></div>
				
                <div class="menu_pedidos_container">
                	<div class="pedidos_container">PEDIDOS</div>
            		<div class="guardados_btn"><a href="pedidos_guardados_lista.html">Guardados</a></div>
            		<div class="proceso_btn"><a href="estado_proceso_lista.html">En proceso</a></div>
            		<div class="realizados_btn"><a href="estado_realizados_lista.html">Realizados</a></div>
                </div>
            
            <div class="cesta_btn"><a href="cesta.html">Cesta</a></div>
         
         </div>
        
        <!--end menu user--> 
        
        <!--start cuerpo--> 
        <div class="right_cuerpo_user">
        	<div class="titulo_current">Contenido de la cesta:</div>
            
        <div class="lista_pedidos_container">
            	<div class="legend_container">
                	<div class="producto_legend"><a href="#">Producto</a></div>
                 	<div class="ref_legend"><a href="#">Referencia</a></div>
                    <div class="precio_ud_legend"><a href="#">Precio/UD</a></div>
                    <div class="cantidad_legend"><a href="#">Cantidad</a></div>
                    <div class="subtotat_legend"><a href="#">Subtotat</a></div>
				</div>
         		
                            <div class="prods_detalles_container">
                                <div class="btn_eliminar_cesta"><img src="../images/btn_eliminar_cesta.png" alt="logo" /></div>
                                <div class="foto_prod_cesta">_FOTO_</div>
                                <div class="titulo_prd_cesta"><a href="#">Alemanas automáticas antipánico izquierda.</a></div>
                                <div class="ref_prod_cesta">17-B212660I</div>
                                <div class="precio_ud">149,88 €</div>
                                <div class="cantidad_cesta"><input name="buscar" type="buscar" class="input_cantidad_cesta" value="1" /></div>
                                <div class="precio_subtotal_cesta">149,88 €</div>
                            </div>  
                            
							<div class="prods_detalles_container">
                                <div class="btn_eliminar_cesta"><img src="../images/btn_eliminar_cesta.png" alt="logo" /></div>
                                <div class="foto_prod_cesta">_FOTO_</div>
                                <div class="titulo_prd_cesta"><a href="#">Alemanas automáticas antipánico izquierda.</a></div>
                                <div class="ref_prod_cesta">17-B212660I</div>
                                <div class="precio_ud">149,88 €</div>
                                <div class="cantidad_cesta"><input name="buscar" type="buscar" class="input_cantidad_cesta" value="1" /></div>
                                <div class="precio_subtotal_cesta">149,88 €</div>
                            </div>
                            
							<div class="prods_detalles_container">
                                <div class="btn_eliminar_cesta"><img src="../images/btn_eliminar_cesta.png" alt="logo" /></div>
                                <div class="foto_prod_cesta">_FOTO_</div>
                                <div class="titulo_prd_cesta"><a href="#">Alemanas automáticas antipánico izquierda.</a></div>
                                <div class="ref_prod_cesta">17-B212660I</div>
                                <div class="precio_ud">149,88 €</div>
                                <div class="cantidad_cesta"><input name="buscar" type="buscar" class="input_cantidad_cesta" value="1" /></div>
                                <div class="precio_subtotal_cesta">149,88 €</div>
                            </div>
                            
							<div class="prods_detalles_container">
                                <div class="btn_eliminar_cesta"><img src="../images/btn_eliminar_cesta.png" alt="logo" /></div>
                                <div class="foto_prod_cesta">_FOTO_</div>
                                <div class="titulo_prd_cesta"><a href="#">Alemanas automáticas antipánico izquierda.</a></div>
                                <div class="ref_prod_cesta">17-B212660I</div>
                                <div class="precio_ud">149,88 €</div>
                                <div class="cantidad_cesta"><input name="buscar" type="buscar" class="input_cantidad_cesta" value="1" /></div>
                                <div class="precio_subtotal_cesta">149,88 €</div>
                            </div>
                            
                            <div class="precio_desglos_container">
                                <div class="iva_desglos">Total - Sin iva</div>
                                <div class="precio_total_desglos">149,88 €</div>
                                <div class="iva_desglos">Total - Con iva</div>
                                <div class="precio_total_desglos">149,88 €</div>
                            </div>
                            
              				<div class="btn_accion_container">
             					<div class="btn_guardar_pedido"><a href="#">Guardar pedido</a></div>
               					<div class="confirmar_pedido"><a href="#">Confirmar Pedido</a></div>                
             				</div>                
            
                       </div>
        
        </div>
        <!--end cuerpo--> 
          
    <form action="{{ path('TKShopFrontendShoppingCartUpdate', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('TKShopFrontendShoppingCartIndex') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('TKShopFrontendShoppingCartDelete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
    
    </div><!--end right-->

    

{% endblock right_content %}



