{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Carrito |{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('bundles/tecnokey/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block jsfunctions %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function(){
    
        var $dialog = $('<div></div>')
                    .html('La confirmación de pedidos aún no se encuentra activada')
                    .dialog({
                            autoOpen: false,
                            title: 'Función deshabilitada',
                            resizable: false,
                            height:240,
                            modal: true,
                            buttons: {
				"Abortar pedido": function() {
					$( this ).dialog( "close" );
				}
			}
                    });

    
        jQuery(".confirmar_pedido_deshabilitado").click(function(event){
        
            event.preventDefault(); // now js will take full control of the product delection
            delform = $( this ).parents("form");
            
            $dialog.bind( "dialogbeforeclose", function(e, ui) {
               //alert( $(e.target)[0].tittle );
            });
            
           $dialog.dialog("open");

        });
        
     })
     </script>
     
         <script>
    jQuery(document).ready(function(){
        jQuery('#tecnokey_shopbundle_shop_shoppingcarttype_items_0_quantity').click(function(event){
            var value = jQuery(this).attr('value');
        if(value < 1){
            value = 1;
        }
        jQuery('#tecnokey_shopbundle_shop_shoppingcarttype_items_0_quantity').attr('value', value);
        })
     })
     </script>
{% endblock jsfunctions %}

{% block right_content %}

{% include 'TecnokeyShopBundle:Frontend/User:menu.partialhtml.twig' with {'nothing' : 'null'} %}            

<!--end menu user-->  <!--start cuerpo--> 
<div class="right_cuerpo_user">
    <div class="titulo_current">Contenido de la cesta:</div>

    <div class="lista_pedidos_container">
        <div class="legend_container">
            <div class="producto_legend"><a href="#">Producto</a></div>
            <div class="ref_legend"><a href="#">Referencia</a></div>
            <div class="precio_ud_legend"><a href="#">Precio/UD</a></div>
            <div class="cantidad_legend"><a href="#">Cantidad</a></div>
            <div class="subtotat_legend"><a href="#">Subtotal</a></div>
        </div>
        <form name="edit_form" action="{{ path('TKShopFrontendUserShoppingCartUpdate') }}" method="post" {{ form_enctype(edit_form) }}>        
                {% set count = 0 %}
                {% for item in edit_form.items %}
                    {% if (entity.items[count] is defined ) %}
                        {% set dataItem = entity.items[count] %}
                            {% set imageSizeInfo =  dataItem.product.image.getImageSize("62", "60") %}
                <div class="prods_detalles_container">
                    <div class="btn_eliminar_cesta"><a href="{{ path('TKShopFrontendUserShoppingCartDeleteItem', {'id' : dataItem.id}) }}"><img src="{{ asset('bundles/tecnokey/images/btn_eliminar_cesta.png') }}  " alt="logo" /></a></div>
                    <div class="foto_prod_cesta"> <img src="{{ asset (dataItem.product.image.webPath) }}" style="width: {{ imageSizeInfo.width ~ "px"}}; height: {{ imageSizeInfo.height ~ "px"}}; margin-top: {{imageSizeInfo.vPadding ~ "px"}}; margin-left: {{ imageSizeInfo.hPadding ~ "px"}};"></img> </div>
                    <div class="titulo_prd_cesta"><a href="{{ path('TKShopFrontendProductShow', {'productId' : dataItem.product.id}) }}">{{ dataItem.product.name | truncate(30) }}</a></div>
                    <div class="ref_prod_cesta">{{ dataItem.product.sku }}</div>
                    <div class="precio_ud">{{ dataItem.product.basePrice | toPrettyPrice ~ currencySymbol()}}</div>
                                {#<div class="cantidad_cesta"><input name="buscar" type="buscar" class="input_cantidad_cesta" value="1" /></div>#}
                    <div class="cantidad_cesta">{{ form_widget(item.quantity, {'attr' : { 'class' : 'input_cantidad_cesta' } } ) }} </div>
                    <div class="precio_subtotal_cesta">{{ dataItem.totalBasePrice ~ currencySymbol() }}</div>
                </div>
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}

                    {{ form_rest(edit_form) }}

                <div class="precio_desglos_container">
                    <div class="iva_desglos">Total - Sin iva</div>
                    <div class="precio_total_desglos">{{ entity.totalBasePrice ~ currencySymbol() }}</div>
                    <div class="iva_desglos">Total - Con iva</div>
                    <div class="precio_total_desglos">{{ entity.totalPrice | roundoff ~ currencySymbol() }}</div>
                </div>

                <div class="btn_accion_container">
                    {#
                    <div class="btn_guardar_pedido"><a href="#">Guardar pedido</a></div>
                    <div class="confirmar_pedido"><a href="#">Confirmar Pedido</a></div>                
                     #}
                        <input type="hidden" id="{{ order_field }}" name="{{ order_field }}" value="{{ update_value }}"/>
                        <input class="actualizar_pedido" type="submit" name="Actualizar Pedido" value="Actualizar Pedido"/>
                        <input class="confirmar_pedido" onclick="edit_form.{{ order_field }}.value='{{ comfirm_value }}'; return true;" type="submit" name="Confirmar Pedido" value="Confirmar Pedido"/>
                    </div>                
                </form>
            </div>

        </div>

        <!--end cuerpo--> 
{#</div><!--end right-->#}

{% endblock right_content %}



