{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Marcas |{% endblock %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Nuestras Marcas \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block right_content %}
{#<div class="right">#}
    {% for brand in brands %}
    <!--start lista individual -->
    <div class="listbox_container">    

        <!--div class="fotoprod">¡FOTO!</div-->
        <img class="fotoprod" src="{{ asset(brand.image.getWebPath) }}" />
        <div class="listbox">
            {# modded:  again try to show the inner categories, if there is NO more categories then it will redirect to the ProductsByCategory #}
            <div class="titulo_box">
                {#<h1><a href="{{ path('TKShopFrontendProductsShowByCategory', {'categoryId': category.id}) }}">{{ category.name }}</a></h1>#}
                <h1><a href="{{ path('TKShopFrontendSearchProductsByBrand', {'id' : brand.id}) }}">{{ brand.name }}</a></h1>
            </div>

            <div class="text_list_box">
                {#<h1><a href="{{ path('TKShopFrontendProductsShowByCategory', {'categoryId': category.id}) }}">{{ category.name }}</a></h1>#}
                <h3><a href="{{ path('TKShopFrontendSearchProductsByBrand', {'id' : brand.id}) }}">{{ brand.description}}</a></h3>
            </div>
        </div>
    </div><!--end lista individual -->
    {% endfor %}
{#</div>#}
{% endblock right_content %}