<script>
    jQuery(document).ready(function(){
        
        var $dialog = $('<div></div>')
                    .html("Se han econtrado errores")
                    .dialog({
                            autoOpen: false,
                            title: 'Se han encontrado errores',
                            resizable: false,
                            height:240,
                            width: 540,
                            modal: true,
                            buttons: {
				"Aceptar": function() {
					$( this ).dialog( "close" );
				}
			}
                    });

        var errorsDescription = "";
        var errors = jQuery(".field_inline_error");
        for(i = 0 ; i < errors.length ; i++){      
            var error = errors[i];
            
            var errorHtml = jQuery(error).html();    
            if(errorHtml.trim() != ""){
                var errorField = jQuery(error).attr('name');
                errorsDescription += errorField + ": " + errorHtml + "<br/>";
            }
            
        }
        
        if(errorsDescription != ""){
                event.preventDefault(); // now js will take full control of the product delection
                delform = $( this ).parents("form");

                $dialog.bind( "dialogbeforeclose", function(e, ui) {
                   //alert( $(e.target)[0].tittle );
                });

               $dialog.html(errorsDescription);
               $dialog.dialog("open");
        }
        
     })
 </script>    	

<!--start formulario de alta-->
            <div class="formulario_alta_new_cliente">
            	
                <div class="form_new_cliente_container">
  <p><strong>Para darse de alta como nuevo cliente de Tecnokey, por favor rellene el siguiente formulario:</strong> <span class=" text_general"><span class="red">*</span> Campos obligatorios</span></p><br />
  
                   
                        <div class="input_container_new_cliente">
                        
                        	<div class="input_left">
                        	  <p><span class="red">*</span> Nombre:</p>
                            
                                  <div class="field_inline_error" name="Nombre"> {{ form_errors(form.firstName) }}</div>
                                  {{ form_widget(form.firstName, {'attr' : { 'class' : 'input_new_cliente_nombre_appellido' } }) }}
                                  {#<input name="Empresa" type="Empresa" class="input_new_cliente_nombre_appellido" />#}
                                
                                </div>
                            
                            <div class="input_right"><p><span class="red">*</span> Apellidos:</p>
                            {#<input name="Empresa" type="Empresa" class="input_new_cliente_nombre_appellido" />#}
                                <div class="field_inline_error" name="Apellidos"> {{ form_errors(form.lastName) }}</div>
                                {{ form_widget(form.lastName, {'attr' : { 'class' : 'input_new_cliente_nombre_appellido' } }) }}
                            </div>
                  </div>
                         
       <br /> <p><strong class="blue">Introduzca los datos de acceso:</strong></p>
       			<div class="linea_horizontal"></div>           
                            
                    
                            <div class="input_container_new_cliente">
                            <div class="input_left"><p><span class="red">*</span> e-mail:</p>
                            {#<input name="mail" type="text" class="input_new_cliente" />#}
                            <div class="field_inline_error" name="Email">{{ form_errors(form.email) }} </div>
                            {{ form_widget(form.email, {'attr' : { 'class' : 'input_new_cliente' } }) }} 
                            </div>
                            
                            <div class="input_right">
                            <p><span class="red">*</span> Confirmar e-mail:</p>
                            <input name="emailConfirmation" type="Empresa" class="input_new_cliente" />
                            {#{{ form_errors(form.emailConfirmation) }}
                            {{ form_widget(form.emailConfirmation, {'attr' : { 'class' : 'input_new_cliente' } }) }}#}
                            </div>
                            </div>
                                                
                    <div class="input_container_new_cliente">
                        <div class="input_left"><p><span class="red">*</span> Contraseña:</p> 
                        {#<input name="pass" type="password" class="input_new_cliente" />#}
                        <div class="field_inline_error" name="Contraseña"> {{ form_errors(form.password) }}</div>
                        {{ form_widget(form.password, {'attr' : { 'class' : 'input_new_cliente' } }) }}                         
                        </div>
                        
                        <div class="input_right"><p><span class="red">*</span> Confirmar contraseña:</p>
                        <input name="passwordConfirmation" type="password" class="input_new_cliente" />
                        {#{{ form_errors(form.passwordConfirmation) }}
                        {{ form_widget(form.passwordConfirmation, {'attr' : { 'class' : 'input_new_cliente' } }) }}#}
                        </div>
                    </div>
          
          <br /> <p><strong class="blue">Introduzca los datos de su empresa:</strong></p> 
          <div class="linea_horizontal"></div>  
                   
              <div class="input_container_new_cliente">
                        <div class="input_left"><p><span class="red">*</span> Razón social:</p>
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                            <div class="field_inline_error" name="Razón social"> {{ form_errors(form.firmName) }}</div>
                            {{ form_widget(form.firmName, {'attr' : { 'class' : 'input_new_cliente' } }) }} 
                        </div>
                        <div class="input_right"><p><span class="red">*</span> CIF:</p>
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                            <div class="field_inline_error" name="CIF">{{ form_errors(form.vatin) }}</div>
                            {{ form_widget(form.vatin, {'attr' : { 'class' : 'input_new_cliente' } }) }} 
                        </div>
                  </div>
                    
                    <div class="input_container_new_cliente">
                        <div class="input_left_2"><p><span class="red">*</span> Dirección:</p>
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente_direccion" />#}
                            <div class="field_inline_error" name="Dirección">{{ form_errors(form.address) }}</div>
                            {{ form_widget(form.address, {'attr' : { 'class' : 'input_new_cliente_direccion' } }) }} 
                        </div>
                        
                        <div class="input_right_2"><p><span class="red">*</span> CP:</p>
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente_cp" />#}
                            <div class="field_inline_error" name="CP">{{ form_errors(form.zipCode) }}</div>
                            {{ form_widget(form.zipCode, {'attr' : { 'class' : 'input_new_cliente_cp' } }) }} 
                        </div>
                    </div>
                    
                    <div class="input_container_new_cliente">
                    	<div class="input_left"><p><span class="red">*</span> Población:</p>
                    	{#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                       <div class="field_inline_error" name="Población"> {{ form_errors(form.city) }}</div>
                        {{ form_widget(form.city, {'attr' : { 'class' : 'input_new_cliente' } }) }} 
                        </div>
                    	<div class="input_right"><p><span class="red">*</span> Provincia:</p>
                    	{#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                        <div class="field_inline_error" name="Provincia">{{ form_errors(form.province) }}</div>
                        {{ form_widget(form.province, {'attr' : { 'class' : 'input_new_cliente' } }) }}
                        </div>
                    </div>
                    
                  	<div class="input_container_new_cliente">
                       	<div class="input_left"><p><span class="red">*</span> Teléfono:</p>	
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                        <div class="field_inline_error" name="Teléfono">{{ form_errors(form.phone) }} </div>
                        {{ form_widget(form.phone, {'attr' : { 'class' : 'input_new_cliente' } }) }}
                        </div>
                        <div class="input_right"><p>Fax:</p>
                        {#<input name="Empresa" type="Empresa" class="input_new_cliente" />#}
                        <div class="field_inline_error" name="Fax">{{ form_errors(form.fax) }}</div>
                        {{ form_widget(form.fax, {'attr' : { 'class' : 'input_new_cliente' } }) }}
                        </div>
                    </div>
          
                {% for key, flash in app.session.getFlashes() %}
                <div class="field_inline_error" name="{{ key }}">{{ flash }}</div>
                    
                
                {% endfor %}
                    {{ form_rest(form) }}
                    
                    <div class="aceptar_enviar_container">
                    	<span><input name="checkbox" type="checkbox" value="" checked="checked" /> <span>Acepto la <strong  class="blue">Política de uso</strong> de Tecnokey.com</span></span>
                    	<div class="btn_solicitar_alta">
                        <button class="btn_solicitar_alta" type="submit">Enviar</button>
                        </div>
                        
                    </div>
          
                </div>
            
            </div>
        <!--end formulario-->  