{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Productos |{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('bundles/tecnokey/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block right_content %}

{% include 'TecnokeyShopBundle:Frontend/User:menu.partialhtml.twig' with {'nothing' : 'null'} %}            

<form action="{{ path('TKShopFrontendUserCreate') }}" method="post" {{ form_enctype(form) }}>
    {% include 'TecnokeyShopBundle:Frontend/User/Register:formBody.partialhtml.twig' %}
</form>

    {% for key, flash in app.session.getFlashes() %}
    <div class="error">
        {{ flash }}
    </div>
    {% endfor %}

{% endblock right_content %}





