{% form_theme form 'TecnokeyShopBundle:Backend/Form:product.html.twig' %}
   
<!--titulo y referencia--> 

	<div class="titulo_ref_container">
       
    	<div class=" float-left">
        	<div class="legend"><span class="text_bold">Marca:</span></div>
        	<!--input name="Empresa" type="Empresa" class="add_categoria"/-->
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
        </div>
	</div>


<!--description e imagenes-->    
    <div class="div_desc_imagenes_container">
    	
        <div class="div_descripcion">
        	<div class="legend"> <span class="text_bold">Descripci칩n:</span></div>
        	<!--textarea name="descripcion" class="descripcion_form" cols="descripcion"></textarea-->
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
    	</div>
        
        <div class="div_imagenes">
        	<div class="titulo_imagenes">A침adir Im치gen:</div>
	    <!--div class="div_imagenes_loader"><span class="text_bold">#1 </span><input type="submit" name="load" id="load" value="Im치gen 1" />
                <span class=" text_general">Archivo cargado...</span></div-->
                {{ form_errors(form.image.file) }}
                {{ form_widget(form.image.file) }}
        </div>
        
    </div>