{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Productos |{% endblock %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block right_content %}

    <form action="{{ path('TKShopFrontendShoppingCartUpdate', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('TKShopFrontendShoppingCartIndex') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('TKShopFrontendShoppingCartDelete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock right_content %}



