{#Requires:
#}
<!--start menu user-->
<div class="menu_user_container">
    <div class="perfil_btn"><a href="{{ path('TKShopFrontendUserShow', {'_format': 'html'}) }}"><img src="{{ asset('bundles/tecnokey/images/icono_perfil.png') }}" alt="perfil" />Perfil</a></div>

    <div class="menu_pedidos_container">
        <div class="proceso_btn"><a href="{{ path('TKShopFrontendOrderIndex') }}"><img src="{{ asset('bundles/tecnokey/images/icono_proceso.png') }}" alt="proceso" />Pedidos En proceso</a></div>
        <div class="realizados_btn"><a href="{{ path('TKShopFrontendOrderIndex') }}"><img src="{{ asset('bundles/tecnokey/images/icono_realizados.png') }}" alt="realizado" />Pedidos Realizados</a></div>
    </div>

    <div class="cesta_btn"><a href="cesta.html">Cesta</a></div>

</div>